.dropdown_stuff {
    display: none;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
    font-size: 16px;
}

.dropdown_stuff div:hover {
    background-color: aquamarine;
}

.show {
    display: block;
}

.dropdown {
    background-color: #3498DB;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

.login_buttons {
    background-color: darkcyan;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.login_div {
    position:absolute;
    top: 0;
    right: 0;
}

.market_data_div {
    position: absolute;
    margin: auto;
    width: 50%;
    top: -500;
    right: -200;
}