<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Market Dashboard</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function () {
        var socket = io.connect(
          "http://" + document.domain + ":" + location.port
        );

        var currentStock = "ibm";

        socket.on("connect", function () {
          console.log("Connected to server");
        });

        document.querySelectorAll(".stock-button").forEach((button) => {
          button.addEventListener("click", function () {
            // Remove 'bold' class from all buttons
            document.querySelectorAll(".stock-button").forEach((btn) => {
              btn.classList.remove("bold");
              this.classList.add("bold");
              currentStock = this.id.replace("-button", "").toLowerCase();
            });

            // Toggle the 'bold' class on the clicked button
            if (!this.classList.contains("bold")) {
              this.classList.add("bold");
            }

            var priceSpan = this.querySelector("span");
            var currentPriceLabel = document.getElementById(
              "current-price-label"
            );

            console.log("CURRENT STOCK ON BUTTONS: " + currentStock);
            socket.emit("select-stock", currentStock);
          });
        });

        socket.on("stock-info-update", function (data) {
          console.log("Recieved select-stock event");
          currentStock = data;
          console.log("Updated stock to: " + data);
        });

        socket.on("stock_update", function (data) {
          var stockSymbolValue = document.getElementById("stock-symbol-value");
          var stockPriceValue = document.getElementById("stock-price-value");
          var stockTimestampValue = document.getElementById(
            "stock-timestamp-value"
          );

          var currentPriceLabel = document.getElementById(
            "current-price-label"
          );

          if ("error" in data) {
            console.log("YOU RECEIVED AN ERROR");
          } else {
            const { symbol, price, time } = data;
            console.log("CURRENT STOCK ON STOCK UPDATE: " + currentStock);
            console.log(
              "Received stock update. \nSymbol: " +
                symbol +
                " \nPrice: " +
                price +
                " \nTime: " +
                time
            );

            stockSymbolValue.innerText = symbol;
            stockPriceValue.innerText = price;
            stockTimestampValue.innerText = time;

            currentPriceLabel.innerText = `Current Price: \$${price}`;
          }
        });

        /* POST DATA!!! */
        document.querySelectorAll(".trade-button").forEach((button) => {
          button.addEventListener("click", function () {
            /*const stockSymbol =
              document.getElementById("hidden-stock-input").value;*/
            const tradeType = document.getElementById("trade-type").value;
            const orderType = document.getElementById("order-type").value;
            const buyOrSell = this.id.replace("-button", "").toUpperCase();
            const currentPriceLabel = document.getElementById(
              "current-price-label"
            ).innerText;
            const actualPrice = parseFloat(
              currentPriceLabel.replace("Current Price: $", "")
            );

            console.log(actualPrice);

            fetch("/" + buyOrSell.toLowerCase() + "-stock", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                username: "ADD_USERNAME",
                symbol: currentStock,
                price: actualPrice,
                time: Math.floor(Date.now() / 1000),
                order: orderType,
                trade: tradeType,
              }),
            })
              .then((response) => response.json())
              .then((data) => {
                console.log("RESPONSE: ", data);
              })
              .catch((error) => {
                console.error(
                  "Some error happened when executing this trade, " + error
                );
              });
          });
        });
      });
    </script>
  </head>
  <body>
    <header>
      <h1>Stock Market Dashboard</h1>
      <nav>
        <a href="/login" class="auth-link">Login</a>
        <a href="/signup" class="auth-link">Sign Up</a>
      </nav>
    </header>
    <main>
      <section id="controls">
        <button id="ibm-button" class="stock-button">IBM<br /></button>
        <button id="msft-button" class="stock-button">MSFT<br /></button>
        <button id="tsla-button" class="stock-button">TSLA<br /></button>
        <button id="race-button" class="stock-button">RACE<br /></button>
      </section>
      <section id="display">
        <div id="stock-data" class="info-box">
          <h2>Market Data:</h2>
          <p id="stock-symbol-label">
            Stock: <span id="stock-symbol-value"></span>
          </p>
          <p id="stock-price-label">
            Price: <span id="stock-price-value"></span>
          </p>
          <p id="stock-timestamp-label">
            Timestamp: <span id="stock-timestamp-value"></span>
          </p>
        </div>
        <div id="transaction-history" class="info-box">
          <h2>Transaction History</h2>
          <table>
            <thead>
              <tr>
                <th>Date</th>
                <th>Stock</th>
                <th>Type</th>
                <th>Quantity</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody id="transaction-table-body">
              <!-- Transactions will be populated here from the database -->
            </tbody>
          </table>
        </div>
      </section>
      <section id="trade">
        <div>
          <label for="order-type">Order Type:</label>
          <select id="order-type">
            <option value="market">Market</option>
            <option value="limit">Limit</option>
            <option value="stop">Stop</option>
          </select>
        </div>
        <div>
          <label for="trade-type">Trade Type:</label>
          <select id="trade-type">
            <option value="equity">Equity</option>
            <option value="derivative">Derivative</option>
            <option value="bond">Bond</option>
          </select>
        </div>
        <label id="current-price-label">Current Price: </label>
        <button id="buy-button" class="trade-button">BUY</button>
        <button id="sell-button" class="trade-button">SELL</button>
      </section>
    </main>
  </body>
</html>
